@media screen and (max-width:1200px){.about__wrapper{display:flex;flex-wrap:wrap}.right{width:auto!important;margin:0 auto}.left{text-align:center;margin:0 auto}.nav{position:fixed;right:-100%!important;width:100%!important;font-size:30px;line-height:46px}.nav__active{right:0 !important;}}@media screen and (max-width:600px){.right{display:none}.about__header{font-size:30px}.card{margin:20px auto;}
.left {
	width: 100% ;
	}}@media screen and (max-width:550px){.show{display:none !important}
.links{
	display: flex;
	margin: 0 auto;
}
}
@media screen and (max-width: 410px) {
	.about__header {
		font-size: 22px;
	}
}